
/* 
    color codes ^^

    burgundi: color: rgb(124, 39, 70);
    yellow: rgb(254, 203, 2);
    black: rgb(31, 31, 31);
     
*/

* {
    padding: 0;
    margin: 0;
    
}

header {
    width: 100%;
    
}

img {
    width: 100%;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 4em;
}

h2 {
    font-family: 'Annie Use Your Telescope', cursive;
}

h5 {
    font-family: 'Anton', sans-serif;
    padding-bottom: 1em;
    margin-top: -2em;
    margin-left: 0.8em;
    color: rgb(255, 255, 255);
}

p {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Annie Use Your Telescope', cursive;
    margin: 0.5em;
    margin-bottom: 1em;
}

footer {
    background-color: rgb(31, 31, 31);
    padding: 1em;
    margin-top: 10em;
}

footer p {
    color: rgb(255, 255, 255);
}

._welcomestar img {
    width: 160%;
}
._welcomestar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2em;
}


/* marquee */
.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 190px;
    overflow-x: hidden;
}
  
.track {
    height: 100%;
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 28s linear infinite;
}
.content {
    height: 100%;
}

.content img{
    height: auto;
    width: 50%;
    padding: 2em;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

._blackarrow img{
    width: 5%;
}

/* SNS */

._movingcircle img{
    width: 20%;
}
._specialmargin {
    margin-top: 5em;
}

.rotate {
    animation: rotate 10s infinite linear; 
    
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(360deg);
    }
    50% {
        transform: scale(2.8); 
    }
    100% {
        transform: scale(1) rotate(-360deg);
    }
}



/* MEDIA QUERIES */

@media (max-width: 767.98px) {
    ._welcomestar img {
        width: 90%;
    }

    /* marquee */
    .content img{
        width: 100%;
        padding: 2em;
    }
    ._blackarrow img{
        width: 10%;
    }

    /* footer */
    ._botonesfooter{
        align-items: flex-start; 
        justify-content: center;
    }

    ._footerarrow img{
        width: 10%;
    }

    ._logofooter {
        align-items: center;
    }

    ._logofooter img{
        padding: 2vh;
    }

}


/* BREAKPOINT TAMAÑO MD */

@media (min-width: 768px) {
    /* footer */
    ._botonesfooter{
       align-items: flex-start; 
       justify-content: flex-start;
    }

    ._logofooter {
        align-items: flex-end;
    }

    

}




